<html lang="en">
    
    <head>
        
        <meta charset="utf-8">
        
        <title>Web Dev Summer Task</title>
    </head>
    
     <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    
    
    <body style="background-image: url(http://www.bentleysofyork.com/images/comp_keyboard_gs.jpg); background-repeat:no-repeat; background-size:100% 100%;">
        
        <div class="container">
            
            <div class="jumbotron" style="margin-top:20px;">
                <center><h1>Web Dev Summer Task</h1></center>
            </div>
            <div class="jumbotron" style="background:transparent;">
                
                <center><h3>LOGIN</h3></center>
                
                <form action="/login" method="POST">
                    
                    <label>Username:</label><br>
                    <input type="text" name="username" required><br> <br>
                    
                    <label>Password</label><br>
                    <input type="password" name="password" required><br> <br>
                    
                    <input type="submit" value="Submit">
                    
                </form>
                
                <p> <%= disp %> </p>
                <p>"lalala"</p>
                
            </div>
        </div>
        
        
        
        
    </body>
    
    
</html>